<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="../stylesheets/stylesheets.css" >
</head>
<body>
    
    <a href="/about">ABOUT</a>
    <a href="/works">WORKS</a>
<h1>TOM HOLLAND</h1>
    <h3>Tom Holland is an English actor. He rose to fame in 2008 as a child actor starring in the West End production of Billy Elliot the Musical and in the 2012 film The Impossible. He is best known for portraying the superhero Spider-Man in the Marvel movie franchise, including Captain America: Civil War (2016), Spider-Man: Homecoming (2017) and Spider-Man: Far From Home (2019). </h3>
</body>
</html>